# default or fast training with 1 epoch only
accelerator: "auto"
devices: "auto"
max_epochs: 1
log_every_n_steps: 10
gradient_clip_val: 1.0          # or 1.0 if you want clipping
precision: "16-mixed"
early_stopping_patience: 7