# configs/config.yaml
defaults:
  - data: howdrive_sample
  - model: resnet
  - optimizer: adam
  - scheduler: reducelronplateau
  - training: default
  - logging: wandb_offline
  - experiment: default
  - xai: default
  - _self_

train_seed: 42